<div>
  <strong> <%= comment.name %> says: </strong>
  <%= comment.content %>
  <div class="comment-admin">
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete", [@post, comment], method: :delete %>
  </div>
</div>