<%= form_for [@post, comment] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :conent, "Comment" %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>