<p id="notice"><%= notice %></p>

<h1>
  <strong>Title:</strong>
  <%= @post.title %>
</h1>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<div id="comments">
<% if @post.comments.present? %>
  <h1>Comments:</h1>
    <%= render @post.comments %>
<% end %>
    <h2>Add a Comment:</h2>
    <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
